.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

header, footer {
    width: 100%;
}

.column1, .column2 {
    float: left;
    width: 50%
}

.column3 {
    float: none;
    width: 100%;
}